[submodule "airwindows/airwindows"]
	path = airwindows/airwindows
	url = https://github.com/airwindows/airwindows.git
[submodule "faustlib"]
	path = faustlib
	url = https://github.com/grame-cncm/faust
[submodule "faustlibraries"]
	path = faustlibraries
	url = https://github.com/grame-cncm/faustlibraries
